@model IEnumerable<EmployeeDto>
@{
    ViewData["Title"] = "Employee Page";
}

<br />
<br />
<div class="container p-4 border">
	<div class="row pb-2">
		<div class="col">
			<h1 class="text-primary">Employee List</h1>
		</div>
		<div class="col text-end pt-1">
			<a asp-action="EmployeeCreate" asp-controller="Employee" class="btn btn-outline-primary"><i class="fas fa-plus"></i> Add New Employee(File)</a>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				@*<th>
					ID
				</th>*@
				<th>
					Personnel Number
				</th>
				<th>
					FIO
				</th>
				<th>
					Date Of Birth
				</th>
				<th>
					Regular Or External
				</th>
				<th>
					Position
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
			   <tr>
				   @*<td>
								@item.EmployeeId
				</td>*@
				<td>
								@item.PersonnelNumber
				</td>
				<td>
								@item.FIO
				</td>
				<td>
								@((item.DateOfBirth).ToString("yyyy:d:m"))
				</td>
				<td>
								@{if(item.RegularOrExternal){ @("Regular") } else { @("External")} }
				</td>
				<td>
								@item.Position?.Name
				</td>
				<td>
				 @*<a asp-action="EmployeeEdit" asp-controller="Employee" class="btn btn-success" asp-route-employeeId="@item.EmployeeId">
				  <i class="fas fa-edit"></i>
				 </a>*@
				 <a asp-action="EmployeeDelete" asp-controller="Employee" class="btn btn-danger" asp-route-employeeId="@item.EmployeeId">
				  <i class="fas fa-trash"></i>
				 </a>
				</td>
			   </tr>
			}
  </tbody>
 </table>
</div>